{% extends "base.html" %}

{% block content %}
  <h1>TODO list</h1>
  {% for task in task_list %}
    <p>
      <strong>
        {{ task.content }}
        {% if task.is_done %}
          <span class="text-success">Done</span>
        {% else %}
          <span class="text-danger">Not done</span>
        {% endif %}
      </strong>
    </p>
    {%  if task.is_done %}
      <a href="{% url 'task:task-complete' pk=task.id %}" class="btn btn-dark link-to-page">Undo</a>
    {% else %}
      <a href="{% url 'task:task-complete' pk=task.id %}" class="btn btn-success link-to-page">Compete</a>
    {% endif %}
    <p>
      Created: {{ task.datetime }}
      {% if task.deadline %}
        Deadline: {{ task.deadline }}
      {% endif %}
    </p>
    <p>
      Tags:
      {% for tag in task.tags.all %}
        {{ tag.name }}
      {% endfor %}
      <a href="{% url 'task:task-update' pk=task.id %}" class="btn btn-link">Update</a>
      <a href="{% url 'task:task-delete' pk=task.id %}" class="btn btn-link">Delete</a>
    </p>
    <hr>
  {% endfor %}
{% endblock %}
